.mood-analysis-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.webcam-container,
.image-preview-container {
    flex: 1;
}

.webcam-video {
    width: 50%;
    height: auto;
    max-width: 50%;
    border: 2px solid mediumslateblue; /* Add a 2px solid border with mediumslateblue color */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.take-picture-btn,
.custom-btn {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid mediumslateblue; /* Solid border with original button color */
    border-radius: 4px;
    background-color: transparent; /* Make the button background transparent */
    color: mediumslateblue; /* Button text color same as border */
    transition: background-color 0.3s, color 0.3s; /* Transition for background and color */
}

.take-picture-btn:hover,
.custom-btn:hover {
    background-color: mediumslateblue; /* Button background color on hover */
    color: white; /* Button text color on hover */
}

.captured-image {
    width: 100%;
    border-radius: 4px;
}

.expressions-container {
    margin-top: 20px;
}

.expressions-list {
    list-style: none;
    padding: 0;
}

.expression-item {
    margin: 5px 0;
    font-size: 0.9em;
}

.buttons-container {
    margin-top: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .webcam-container,
    .image-preview-container {
        flex-basis: 100%;
    }
}
