/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
  height: 100vh;
  background: url('/src/img/face.jpg') no-repeat center center fixed; 
  background-size: cover;
}
  
  .login-form {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8); /* Light grey background with transparency */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    text-align: center;
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .login-form input {
    width: -webkit-fill-available;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid mediumslateblue;
    border-radius: 5px;
    background-color: transparent;
    color: mediumslateblue;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.login-form button:hover {
    background-color: mediumslateblue; /* Darker blue on hover */
    color: white; /* White text color on hover */
}
  .additional-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
  }
  
  .additional-options button:first-child {
    margin-right: 10px;
  }
  
  video {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }